<div class="container">
<h1> Creatures in my Bog </h1>
<% @creatures.each do |creature|%>
	<div>
		<a href="/creatures/<%= creature.id %>">
        <li><%= creature[:name] %> [<%= creature[:description]%>]
        </li>
        </a>
    </div>
<% end %>
</div>